.about {
    text-align: center;
    width: 1240px;
    margin-left: 100px;
    margin-right: 100px;
}

.collapse-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media(max-width:400px){
    .about{
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;}
}