.location-page-wrapper{
    text-align: center;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.location-host{
    display: flex;
}

.main-container-tag{
    
    display: flex;
    width: 50%;
}
.tags-stars{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapses-container{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

@media(max-width:400px){
    .carrousel-wrapper{
        height: 226px;
    }
    .tags-stars{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 60px;
    margin-top: -17px;
    }
    .main-container-tag{
        width: 100%;
    }
    .collapses-container{
        display: flex;
        flex-direction: column;
    }
}