.location-host {
    display: flex;
    color: #FF6060;
    flex-direction: row;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    font-family: montserrat;
    max-height: 77px;
    margin-top: 5%;
}

.host-name-picture {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
}

.host{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    width: 93px;
    text-align: right;
    margin-right: 8%;

}
.host-picture {
    border-radius: 50%;
}

.location-host h1{
    font-family: Montserrat;
font-size: 36px;
font-weight: 500;
line-height: 51px;
letter-spacing: 0em;
text-align: left;
}
.location-host h2{
    font-family: Montserrat;
font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0em;
text-align: left;

}