.carroussel {
    position: relative;
}
.carrousel__active-picture {
      height: 255px;
      width: 100%;
      transform: scale(1);
      transition: transform 300ms;
}
      /* @include media-query(small) {
        height: 295px;
      }
      @include media-query(medium) {
        height: 335px;
      }
      @include media-query(large) {
        height: 375px;
      }
      @include media-query(xlarge) {
        height: 415px;
      } */
.carrousel__inactive-picture {
      transform: scale(1.05);
      transition: transform 300ms;
}
  
.carrousel__picture {
      width: inherit;
      height: inherit;
      object-fit: cover;
      border-radius: 10px;
}
      /* @include media-query(small) {
        border-radius: 15px;
      }
      @include media-query(medium) {
        border-radius: 20px;
      }
      @include media-query(large) {
        border-radius: 25px;
      } */
    
  
.carrousel__previous{
    position: relative;
    top: -173px;
    height: 100%;
    display: flex;
    align-items: center;
    }
  
.carrousel__next {
    position: relative;
    top: -253px;
    height: 100%;
    display: flex;
    align-items: center;
    right: 0;
    justify-content: flex-end;
    }
  